<nav class="h-16 w-full bg-teal-500 rounded-md mt-1 mx-1">
     <div class="flex flex-row mx-4 mt-1">
          <a href="#"
               routerLink="student-info"><button class="px-3 py-2 rounded-lg bg-purple-800 mx-3 mt-2 text-xl text-white">Collect Student Info </button></a>
               <a href="#" routerLink="get-info">
          <button class="px-3 py-2 rounded-lg bg-purple-800 mx-3 mt-2 text-xl text-white">Get Student Info </button> </a>
     </div>
</nav>

<router-outlet></router-outlet>